name: Continuous Integration
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        jdk: [graalvm-ce-java11, openjdk@1.17]
        scala: [2.12.17, 2.13.8]
    name: Test ${{ matrix.os }} -- ${{ matrix.jdk }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: coursier/cache-action@v5
      - uses: olafurpg/setup-scala@v12
        with:
          java-version: ${{ matrix.jdk }}
      - uses: actions/setup-node@v1
        with:
          node-version: "10.x"
      - name: Set up environment
        run: |
          curl -Lo coursier https://git.io/coursier-cli && chmod +x coursier && ./coursier --help
          java -version
        shell: bash
      - name: Check formatting
        if: matrix.os != 'windows-latest'
        run: |
          ./bin/scalafmt --test
        shell: bash
      - name: Compile and test jsonrpc4s
        env:
          SCALA_VERSION: ${{ matrix.scala }}
        run: |
          sbt ++$SCALA_VERSION clean coverage test mimaReportBinaryIssues coverageAggregate
        shell: bash
